<div class="left">
    <img src="../../assets/imgs/footer/footer-logo.png" alt="footer-logo">
    <p>© 2024 awellenada-rp.ge <br>
        ALL RIGHTS RESERVED.</p>
</div>
<div class="center">
    <ul>
        <li><img src="../../assets/imgs/footer/discord.png" alt=""></li>
        <li><img src="../../assets/imgs/footer/facebook.png" alt=""></li>
        <li><img src="../../assets/imgs/footer/mail.png" alt=""></li>
        <li><img src="../../assets/imgs/footer/youtube.png" alt=""></li>

    </ul>
    <div class="terms">
        <div>
            <button>საჯარო შეთავაზება</button>
            <button>კონფიდენციალურობის პოლიტიკა</button>
        </div>

        <div>
            <button>დეტალურად</button>
            <button>ფორუმი</button>
        </div>

    </div>
</div>
<div class="right"></div>