.logo {
    height: 90px !important;
}

.action-div {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

img {
    height: 40px;
    margin-right: 10px;
}

button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgb(0 0 0);
    cursor: pointer;
}

.right {
    width: 14%;
    display: flex;
    justify-content: space-between;
}

.right button img {
    margin: auto;
}

.right button {
    background-color: #8080807d;
    border: solid 1px #d5ff00a6;
    border-radius: 14px;
    box-shadow: 0px 0px 5px 1px #d5ff00a6;
}

/* Style for the burger menu */
.burger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
}

.burger-menu span {
    background: white;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
}

@media (max-width: 1000px) {
    .action-div {
        display: none;
        flex-direction: column;
        width: 100%;

        button {
            border-radius: 8px;
            padding: 5px;
            background-color: #2d2635;
            border: solid 1px #d5ff00a6;
            box-shadow: 0px 0px 5px 1px #d5ff00;
            z-index: 100;
        }
    }

    .action-div.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        width: 280px;
        height: 185px;
        margin-right: 30px;

    }

    .burger-menu {
        display: flex;
        background: #555555a3;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 0px 0px 5px 1px #d5ff00a6;
    }
    .right{
        width: auto;
    }
}
