<div class="welcome">
    <div class="starter">
        <ul>
            <li>
                <h1 class="serv-name">AWELLENADA RP</h1>
            </li>

            <li>
                <h3>მაღალი ხარისხი ჩვენთან</h3>
            </li>
            <li>
                <button>დაიწყე თამაში</button>
            </li>
        </ul>
   
    </div>
    <div class="pictures">
        <img src="../../assets/imgs/home-bg-pictures/1.png" alt="">
        <img src="../../assets/imgs/home-bg-pictures/2.png" alt="">
    </div>
</div>